body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 15px;
  width: 300px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h1 {
  font-size: 1.2rem;
  color: hsl(218, 44%, 22%);
  margin: 15px 0 10px;
}

.card p {
  font-size: 0.9rem;
  color: hsl(216, 15%, 48%);
  margin-bottom: 10px;
}
