* {
  background-color:azure;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div{
    background-color: white;
}
.main-component {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.text-content {
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

h4 {
    background-color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
