body {
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
  font-family: 'Figtree', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid black;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 8px 8px 0 hsl(0, 0%, 7%);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.category {
  background-color: hsl(47, 88%, 63%);
  width: fit-content;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 800;
}

.date {
  font-size: 12px;
  color: hsl(0, 0%, 7%);
}

.card h1 {
  font-size: 1.25rem;
  font-weight: 800;
  cursor: pointer;
  transition: color 0.3s ease;
}

.card h1:hover {
  color: hsl(47, 88%, 63%);
}

.card p {
  line-height: 1.4;
  color: hsl(0, 0%, 42%);
}

.author {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}
.author img {
  width: 30px;
  border-radius: 50%;
}
