body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
  width: 90%;
  max-width: 300px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.container img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.container h1 {
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  font-weight: 700;
  margin: 20px 0 4px 0;
}

.container p {
  font-size: 14px;
}

.location {
  color: hsl(75, 94%, 57%);
  margin-top: 0px;
  font-weight: 600;
}

.bio {
  color: hsl(0, 0%, 70%);
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.social-links a {
  background-color: hsl(0, 0%, 20%);
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 250px;
  padding: 12px 0;
  border-radius: 8px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
  transform: scale(1.05);
}
