body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(30, 54%, 90%);
}

h2,
h3 {
  font-family: "Young Serif", serif;
  color: hsl(14, 45%, 36%);
}

h1 {
  font-family: "Young Serif", serif;
  font-size: 36px;
  color: hsl(24, 5%, 18%);
}

body,
p,
li {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.recipe-card {
  max-width: 550px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 40px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recipe-card img {
  width: 100%;
  margin: 0;
  border-radius: 10px;
}

.recipe-card p {
  margin-top: 0;
  color: hsl(30, 10%, 34%);
}

.preparation-time {
  width: 100%;
  background-color: rgb(249, 239, 241);
  border-radius: 10px;
  color: hsl(30, 10%, 34%);
  padding: 10px;
}

.preparation-time ul li::marker {
  color: hsl(332, 51%, 32%);
}

.preparation-time h3 {
  color: hsl(332, 51%, 32%);
}

.ingredients ul li::marker {
  color: hsl(14, 45%, 36%);
}

.ingredients,
.instructions {
  color: hsl(30, 10%, 34%);
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.instructions ol li::marker {
  font-weight: 700;
  color: hsl(14, 45%, 36%);
}

.nutrition-table {
  display: flex;
  flex-direction: column;
  color: hsl(30, 10%, 34%);
}

.nutrition-table li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 10px 0;
}

.nutrition-table li:last-child {
  border-bottom: none;
}
